<amb-title title="Medics" icon="dashboard">
  <button mat-flat-button color="primary" matTooltip="ADD" (click)="openForm()">
    <mat-icon>add</mat-icon>
    Add
  </button>
  <button
    mat-stroked-button
    color="accent"
    matTooltip="EXPORT TO EXCEL"
    (click)="exportDataExcel()"
  >
    <mat-icon svgIcon="exportToExcel"></mat-icon>
    Excel
  </button>
  <button
    mat-stroked-button
    color="warn"
    matTooltip="EXPORT TO PDF"
    (click)="exportToPdf()"
  >
    <mat-icon svgIcon="exportToPdf"></mat-icon>
    PDF
  </button>
</amb-title>
<amb-container>
  <perfect-scrollbar class="heightMaxPerfectScrollbar">
    <amb-table [metaData]="metaData" [data]="data">
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" class="align-right">
          <button
            mat-stroked-button
            color="primary"
            matTooltip="EDIT"
            (click)="openForm(row)"
            *roles-allowed="'MEDIC_EDIT'"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-stroked-button
            color="accent"
            matTooltip="DELETE"
            (click)="delete(row)"
            *roles-allowed="'MEDIC_EDIT'"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    </amb-table>
  </perfect-scrollbar>

  <div fxLayout fxLayoutAlign="space-between center">
    <amb-search (onSearch)="search($event)"></amb-search>
    <amb-paginator
      [totalRecords]="totalRecords"
      [currentPage]="currentPage"
      (onChangePage)="changePage($event)"
    ></amb-paginator>
  </div>
</amb-container>
