<div fxLayout="column">
  <ng-content></ng-content>
  <table
    mat-table
    [dataSource]="data"
    multiTemplateDataRows
    matSort
    (matSortChange)="changeSort($event)"
  >
    <ng-container [matColumnDef]="meta.field" *ngFor="let meta of metaData">
      <th mat-header-cell *matHeaderCellDef [mat-sort-header]="meta.field">
        {{ meta.header }}
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row[meta.field] }}
      </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <td mat-cell *matCellDef="let row" colSpan="{{ metaData.length }}">
        <div fxLayout class="headerSubRow">
          <strong *ngFor="let el of subMetaData" [fxFlex]="widthColumns">
            {{ el.header }}
          </strong>
        </div>
        <div fxLayout class="subRow">
          <div *ngFor="let el of subMetaData" [fxFlex]="widthColumns">
            {{ row[el.field] }}
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="listFields; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: listFields"
      [ngClass]="{ headerMain: getAdditionalFields().length > 0 }"
      class="highlightTitle"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: getAdditionalFields()"
      [ngStyle]="{
        display: getAdditionalFields().length > 0 ? 'table-row' : 'none'
      }"
      class="highlight"
      [ngStyle]="{ 'background-color': selectedColor }"
    ></tr>
  </table>
</div>
