<mat-nav-list>
  <mat-list-item class="menu" routerLinkActive="activeLink">
    <a routerLink="/dashboard">
      <button mat-button>
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
    </a>
  </mat-list-item>
  <mat-list-item class="menu" routerLinkActive="activeLink">
    <a routerLink="/medics">
      <button mat-button>
        <mat-icon>dashboard</mat-icon>
        <span>Medics</span>
      </button></a
    >
  </mat-list-item>
  <mat-list-item class="menu" routerLinkActive="activeLink"
    ><a routerLink="/drivers">
      <button mat-button>
        <mat-icon>dashboard</mat-icon>
        <span>Drivers</span>
      </button>
    </a>
  </mat-list-item>
  <mat-list-item class="menu" routerLinkActive="activeLink">
    <a routerLink="/histories">
      <button mat-button>
        <mat-icon>dashboard</mat-icon>
        <span>Histories</span>
      </button>
    </a>
  </mat-list-item>
</mat-nav-list>
