.toolbar {
  background-color: white !important;
  height: 80px;
  border-bottom: 1px solid rgb(226, 232, 240);
  padding: 0 16px;
}

.info h2 {
  font-size: 24px;
  color: rgb(30, 41, 59);
  line-height: 80px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
